<table cellpadding="0" cellspacing="0" width="100%" border="0" align="center"
  style="padding:25px 0 15px 0;font-family:Arial,sans-serif;">
  <tbody>
    <tr>
      <td width="100%" valign="top">
        <table cellpadding="0" cellspacing="0" width="600" align="center" bgcolor="f6fdff"
          style="border: 1px solid #ccedff;">
          <tbody>
            <tr>
              <td valign="top">
                <table cellpadding="0" cellspacing="0" width="600" border="0" align="center">
                  <tbody>
                    <tr>
                      <td style="padding:10px;background-color:#ffffff;width:40%;text-align:left;padding-top:10px">
                        <a style="text-decoration:none;outline:none;color:#ffffff;font-size:13px" href="/"
                          target="_blank">
                          <img border="0" src="https://www.cloudi5.com/asset/blog/images/logo.png"
                            alt="Madhampatty"
                            style="border:none;width:auto;height: 50px;object-fit: contain;">
                        </a>
                      </td>
                      <td style="padding:10px;background-color:#ffffff;width:60%;text-align:right;padding-top:10px">
                        <p style="font-family:Arial;font-size:16px;"><span style="font-weight:bold">OTP Verification
                          </span></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>

            <tr>
              <td width="540" style="background-color: #fffcf0;width: 540px; vertical-align: top;" background: #fffce8;
                align="center">
                <table width="100%" cellspacing="0" cellpadding="0"
                  style="max-width:600px;border-left:solid 1px #e6e6e6;border-right:solid 1px #e6e6e6">
                  <tbody>
                    <tr>
                      <td align="left" valign="top"
                        style="color:#565656;;display:block;font-weight:300;margin:0 auto;clear:both;border-bottom:1px solid #e6e6e6;background-color:#f9f9f9;padding:20px"
                        bgcolor="#F9F9F9">
                        <p style="padding:0;margin:0;color:#565656;font-size:16px;font-size:13px"> Hi, </p><br>
                        <p style="padding:0;margin:0;color:#565656;font-size:13px">Greetings!</p><br>

                        <p style="padding:0;margin:0;color:#565656;line-height:18px;font-size:13px"> We are sharing a
                          verification
                          code to access your account. The code is valid for 15 minutes and usable only once.</p><br>
                        <p style="padding:0;margin:0;color:#565656;line-height:20px;font-size:13px"> Your OTP:
                          <strong>{{token}}</strong>
                          <br> Expires in: <strong>15 minutes</strong>
                        </p><br>
                        <p style="padding:0;margin:0;color:#565656;line-height:20px;font-size:13px"> Best Regards,
                          <br> Madhampatty
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table width="100%" cellspacing="0" cellpadding="0"
                  style="max-width:600px;border:solid 1px #e6e6e6;border-top:none">
                  <tbody>
                    <tr>
                      <td valign="top" align="center"
                        style="text-align:center;background-color:#f9f9f9;display:block;margin:0 auto;clear:both;padding:15px 40px"
                        bgcolor="#F9F9F9">
                        <p style="padding:10px 0 0 0;margin:0;font-size:11px;color:#565656;">
                          This email was sent from a notification-only address that cannot accept incoming email. <br>
                          Please
                          do not reply to this message.</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>

          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>